<app-header></app-header>
<div class="container">
    <div class="pd-ltr-20 xs-pd-20-10">
        <div class="row text-center">
            <div class="col-lg-4">
                <div class="card card-box text-center">
                    <a [routerLink]="'/chercherLocl'" style="text-decoration: none">
                        <div class="card-body">
                            <img class="card-img-top" src="/assets/Images/map.png" style="height: 300px;width: 300px;">
                            <br><br>
                            <h3>موقع مؤسسات الطفولة</h3>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="card card-box text-center">
                    <a [routerLink]="'/signalisation/add'" style="text-decoration: none">
                        <div class="card-body">
                            <img class="card-img-top" src="/assets/Images/signalement.png"
                                style="height: 300px;width: 300px;">
                            <br><br>
                            <h3>اشعار</h3>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="card card-box text-center">
                    <a [routerLink]="'/etablissement/liste'" style="text-decoration: none">
                        <div class="card-body">
                            <img class="card-img-top" src="/assets/Images/etab_toufoula.png"
                                style="height: 300px;width: 300px;">
                            <br><br>
                            <h3> مؤسسات الطفولة </h3>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>