.text-arabic {
  direction: rtl;
  /* Définit la direction du texte de droite à gauche */
  text-align: right;
  /* Alignement du texte à droite */
}

.map-frame {
  border: 1px solid #AAA;
  height: 100%;
}

#map {
  height: 700px;
}