<app-header></app-header>
<div class="text-center">
    <div class="pd-ltr-20 xs-pd-20-10">
        <div class="row clearfix">
            <div class="pd-20 card-box mb-30">
                <div class="row">
                    <div class="text-right">
                        <div class="pull-left">
                            <a class="btn btn-primary dropdown-toggle" href="#" role="button"
                                data-toggle="dropdown">FR</a> &nbsp;
                            <a class="btn btn-secondary dropdown-toggle" href="#" role="button"
                                data-toggle="dropdown">AR</a>
                        </div>
                        <div class="pull-right">
                            <nav aria-label="breadcrumb" role="navigation">
                                <ol class="breadcrumb">
                                    <li class="breadcrumb-item">
                                        <a>موقع مؤسسات الطفولة</a>
                                    </li>
                                    <li class="breadcrumb-item active" aria-current="page">
                                        <a [routerLink]="'/'">الصفحة الرئيسية</a>
                                    </li>
                                </ol>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
            <br>
            <div class="pd-20 card-box mb-30">
                <div class="row">
                    <div class="row justify-content-center">
                        <div class="pb-20">
                            <div class="map-frame">
                                <div id="map"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>